body {
    background-color: pink;
    font-family: "reiher-headline", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* 
USED THBE BUILT IN AI FOR THIS  */
.text-bold-outline {
    -webkit-text-stroke: .5px rgb(46, 42, 42);
    text-stroke: .5px rgb(0, 0, 0);
    color: white;
}

.button-below-image {
    display: block;
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
}

#response-img {
    max-width: 700px;
    height: auto;
}







