body {
    background-color: pink;
    font-family: "reiher-headline", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* 
USED THBE BUILT IN AI FOR THIS  */
.text-bold-outline {
    -webkit-text-stroke: .5px black;
    text-stroke: .5px black;
    color: white;
}